@use '../styles/globals/Mixins.scss' as *;

body {
    width: 100%;
    height: 100%;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fgBodyColor;
    background: $bgBodyColor;
    padding: 0;
}

iframe{
    z-index: -99999 !important;
}

section,
article,
header,
footer {
    width: 100%;
    max-width: 100%;
}