@use '../styles/globals/Mixins.scss'as *;


html,
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fgBodyColor;
    background: $bgBodyColor;
}

iframe {
    z-index: -99999 !important;
}

section,
article,
header,
footer {
    width: 100%;
    max-width: 100%;
}