.task-display {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.task-item {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
}

.image-detail {
  width: 8rem;
  height: 10rem;
  border:  1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px black;
}


.title-detail {
  margin: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}


.text-detail{
  margin-bottom: 15px;
  font-style: italic;
}

.button-details {
  background-color: white;
  color: black;
  border-radius: 15px;
  border: 2px, solid, black;
  padding: 10px, 2rem;

  &:hover{
    background-color:  green;
    color: white;
    border: none;
  }
}

.button-icon{
  margin-right:  10px;
}