.error-container {
  width: 90%;
  height: 90%;
}

.error-title {
  color: red;
  background-color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-text {
  line-height: 2rem;
  text-align: justify;
  font-weight: bold;
  font-size: 1.5rem;
}

.error-image {
  width: 25%;
  height: 25%;
}

.error-content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}