@use '../../../styles/globals/Mixins.scss' as *;


.error-container {
  width: 100%;
  height: 100%;
}

.error-title {
  color: $fgAlertColor;
  background-color: $bgBodyColor;
  @include titleText;
}

.error-text {
  @include paragraph;
  @include alertParagraph;
}

.error-image {
  width: 25%;
  height: 25%;
}

.error-content-container {
  @include flexRow;
  @include flexCenter;
}