@use '../../styles/globals/Mixins.scss'as *;


.load-button {
  background-color: $bgPrimaryColor;
  color: $fgPrimaryColor;
  @include roundedButton;
  padding: 15px 2rem;

  &:hover {
    background-color: $bgSecondaryColor;
    color: $fgSecondaryColor;
    transform: scale(1.1);
    @include transition(all ease 0.5s);
    border: 2px solid $bgPrimaryColor;
  }
}

.load-button-disable {
  background-color: $bgDisableColor;
  color: $fgBodyColor;
  @include roundedButton;
  padding: 15px 2rem;
}

.icon {
  @include buttonIcon;
}