@use '../../../styles/globals/Mixins.scss'as *;


.task-display {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.task-item {
  width: 90%;
  @include flexColumn;
  @include flexCenter;
  background-color: $bgTaskItemColor;
  @include borderRadius(10px);
}

.image-detail {
  width: 8rem;
  height: 8rem;
  border: 1px solid gray;
  @include borderRadius(10px);
  box-shadow: 2px 2px 3px 3px $fgBodyColor;
}

.title-detail {
  margin: 15px;
  font-weight: bold;
  font-size: 2rem;
}


.text-detail {
  margin-bottom: 15px;
  font-style: italic;
  font-size: 1.5rem;
}

.button-details {
  background-color: $bgSecondaryColor;
  color: $fgSecondaryColor;
  @include roundedButton;
  border: 2px solid $fgBodyColor;
  margin: 10px;
  font-size: 1.25rem;
  height: 3rem;
  width: 15rem;

  &:hover {
    background-color: $bgPrimaryColor;
    color: $fgPrimaryColor;
    border: none;
  }
}

.button-icon {
  @include buttonIcon;
}