@use '../../../styles/globals/Mixins.scss'as *;

.group-items {
  background-color: $bgBodyColor;
  margin: 10px;
  padding: 15px;
  display: grid;
  gap: 2.5rem;
  grid-auto-rows: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.task-item {
  @include flexRow;
  justify-content: flex-start;
  margin-left: 5px;
}

.task-image {
  width: 50px;
  height: 50px;
}

.task-content {
  @include flexColumn;
  justify-content: flex-start;
}