button {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 15px 2rem;

  &:hover {
    background-color: white;
    color: green;
    transform: scale(1.1);
    transition: all ease 0.5s;
    border: 2px solid green;
  }
}

.icon {
  margin-right: 10px;
}