@use '../../styles/globals/Mixins.scss'as *;


.resume {
  @include flexRow;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.resume-section {
  @include flexRow;
  @include flexCenter;
  padding: 20px;
}

.title4 {
  margin-left: 15px;
}