@use '../../styles/globals/Mixins.scss'as *;

.section-container {
  width: 100%;
  background-color: $bgBodyColor;
  padding: 15px;
  color: $fgBodyColor;
  margin-bottom: 20px;
}


.controls-section {
  height: 150px;
  @include flexColumn;
  @include flexCenter;
  justify-content: space-between;
  padding: 10px;
}