@use '../../styles/globals/Mixins.scss'as *;

.section-container {
  background-color: $bgBodyColor;
  color: $fgBodyColor;
}


.controls-section {
  @include flexColumn;
  @include flexCenter;
  justify-content:space-evenly;
  padding: 10px;
}