@use '../../styles/globals/Mixins.scss'as *;

.section-container {
  width: 100%;
  min-height: 63vh;
  background-color: $bgBodyColor;
  padding: 15px;
  color: $fgBodyColor;
}


.controls-section {
  @include flexColumn;
  @include flexCenter;
  justify-content: space-between;
  padding: 10px;
}