$backColor:green;
$textColor: white;


.header  {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between ;
  align-items: center;
  background-color: $backColor;
  padding: 10px 20px 15px 20px;
}

.brand{
  display: flex;
  flex-flow: co nowrap;
  justify-content:space-between ;
  align-items: center;
  background-color: $backColor;

  div{
    background-color: $backColor;
  }

  img {
    width: 75px;
    height: 75px;
    border-radius: 2.5rem;

    &:hover{
      transform: scale(1.1);
      transition: all ease 0.5s;
      border: 1px solid #000000;

    }
  }
}

h1 {
  padding: .5rem 2vw;
  color: $textColor ;
  background-color: $backColor;
}

