@use '../../styles/globals/Mixins.scss'as *;


.header {
  height: 20%;
  @include flexRow;
  align-items: center;
  background-color: $bgHeaderColor;
  padding: 10px 20px 15px 20px;
}

.brand {
  @include flexRow;
  justify-content: space-between;
  align-items: center;
  background-color: $bgHeaderColor;
  color: $fgFooterColor;
}

.image {
  width: 75px;
  height: 75px;
  margin: 5px;
  @include borderRadius(2.5rem);

  &:hover {
    transform: scale(1.1);
    @include transition(all ease 0.5s);
    @include borderRadius(1px solid #000000);

  }
}

.header-title {
  background-color: $bgHeaderColor;
  color: $fgHeaderColor;
  padding: .5rem 2vw;
}