@use './styles/globals/Mixins.scss'as *;


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

p {
  padding-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 0;
  }
}

html,
body {
  font-size: $fontSize;
  margin: 0;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  color: inherit;
}