@use '../../styles/globals/Mixins.scss'as *;


.task-display {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 13rem;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
}

.task-item {
  width: 90%;
  @include flexColumn;
  @include flexCenter;
  background-color: $bgTaskItemColor;
  @include borderRadius(10px);
}

.image-detail {
  width: 5rem;
  height: 5rem;
  border: 1px solid gray;
  @include borderRadius(10px);
  box-shadow: 2px 2px 3px 3px $fgBodyColor;
}

.title-detail {
  font-weight: bold;
  font-size: 2rem;
}


.text-detail {
  font-style: italic;
  font-size: 1.3rem;
}

.group-details {
  @include flexColumn;
  margin: 5px;
}