@use '../../styles/globals/Mixins.scss'as *;

.message-container {
  width: 100%;
  background-color: $bgBodyColor;
}


.message-title {
  @include titleText;
  background-color: $bgBodyColor;
}


.message-content-container {
  @include flexRow;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}


.message-image {
  width: 18%;
  height: 18%;
}

.no-task-text {
  width: 40%;
  @include paragraph;
  @include normalParagraph;

  @include largeMobile {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  @include tablet {
    font-size: 1rem;
    line-height: 1rem;
  }

  @include desktop {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}